[alias]
	i = init
	s = status
	p = push
	a = add
	c = commit -am
	b = branch

	ra = remote add
	po = push origin
	co = checkout
	
        pom = push origin master
[user]
	email = yannis.h@hotmail.ch
	name = Yannis Huber
	signingkey = FD571C4599331E94
[gpg]
	program = gpg2
