[alias]
	i = init
	s = status
	p = push
	a = add
	c = commit
	b = branch
  l = log --oneline --graph --decorate

	ra = remote add
	po = push origin
	co = checkout
  cb = checkout -b
	
  pom = push origin master
  poh = push origin HEAD

  cam = commit -am
[user]
	email = yannis.h@hotmail.ch
	name = Yannis Huber
	signingkey = FD571C4599331E94
[gpg]
	program = gpg
[merge]
	tool = meld
